<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Товар - {{product.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p><strpng>Название:</strpng>{{product.name}}</p>
    <p><strpng>Артикл:</strpng>{{product.article}}</p>
    <p><strpng>Цена:</strpng>{{product.price}}</p>
    <p><strpng>Валюта:</strpng>{{product.currency}}</p>
    <p><strpng>Кредит:</strpng>{{product.credit ? "Можно оформить": "Нету кредита"}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>